perception_models

.ipynb_checkpoints/
*/.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class

*.log
*.out
*.err
*.bak
*.swp
*.swo
*.tmp
*.temp
*.old
*.orig
*~
core
core.*


.gitignore
.gitmodules

venv
